<head>
  <link rel="stylesheet" href="/assets/styles/global.css">
</head>
<body>
  <h1>あいうえお作文 ゲーム</h1>
  <p>このゲームでは、与えられたお題に対して、各文字から始まる言葉を考えて作文を作成します。</p>
  <button onclick="startGame()">スタート</button>

  <script>
    function startGame() {
      window.location.href = "aiueo-sakubun/input";
    }
  </script>
</body>

<%- contentFor("css") %>