<!-- すべてのビューファイルの共通部分を定義するファイル -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/global.css">
  <%- css %>
  <title>Are You I?</title>
</head>
<body>
  <%- body %>
</body>
</html>
